:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
td:hover{
  background-color: hsl(0, 0%, 88%);
}
#quiz{
  text-align: left;
  width: 65%;
  min-width: 700px; 
  margin-top: 20px;  
  margin: auto;
  display: none;
}
.white{
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 14px;
  border: 2px solid hsl(176, 26%, 42%);
  margin-top: 7rem;
}
#cartoon{
  width: 40%;  
    
  /*margin: 10px;*/
  text-align: center;
}
div.spacer{
  height: 5px;
}
#trinity {
  
  width: 90%; 
  height: auto;
}
#lp2000{
  width: 80%; 
  height: auto;
  display: none;
}
#talinda{
  width: 70%; 
  height: auto;
  display: none;
}
#yi{
  width: 100%; 
  height: auto;
  display: none;
}
#message{
  margin-top: 30px;
  padding-left: 30px;
  font-size: 1.4em;
}
.flex-container {
  display: flex;
  flex-direction: row;
  margin-top : 20px;
  margin-bottom : 4px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  place-items: center;
  /*margin-top : 20px;*/
}
h5{
  margin-top: 10px;
}
#secret{
  width: 40%;
 
  display: flex;
  place-items: center;
  padding: 2em;

}
table {    
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
margin-top: 1rem;
margin-bottom: 1.5rem;
}
th {
border: 1px solid black;
padding: 6px;
font-weight: bold;
background:hsl(176, 26%, 83%);
/* hsl(240, 100%, 94%);*/
}
td {
border: 1px solid black;
padding: 6px;
vertical-align: top;
width: 100px;
background: white;
}
h3{
  color:hsl(176, 26%, 52%);
  padding: 1rem 0;
  /* hsl(235, 100%, 64%);*/
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(176, 26%, 96%);
  /*#FAFAFF;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 5.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
